---
import { Image } from "astro:assets";
import { render } from "astro:content";
import Divider from "@/components/bases/divider.astro";
import { categoriesHandler } from "@/lib/handlers/categories";
import { getImageAlt, getArticleUrl } from "@/lib/utils/card";
import type { CardPropsWithIndex } from "@/lib/types";

type Props = CardPropsWithIndex;

const { article, index } = Astro.props;

const { remarkPluginFrontmatter } = await render(article);
const category = categoriesHandler.oneCategory(article.data.category.id);
const imageAlt = getImageAlt(article);
const articleUrl = getArticleUrl(article.id);
const isEagerLoad = index < 3;
---

<article
  class="col-span-1 group max-w-sm mx-auto flex flex-col gap-2 h-full relative isolate cursor-pointer"
>
  <div class="aspect-video overflow-hidden rounded-md">
    <Image
      src={article.data.cover}
      alt={imageAlt}
      loading={isEagerLoad ? "eager" : "lazy"}
      layout="constrained"
      class="w-full h-full object-cover"
    />
  </div>
  <div class="flex flex-col flex-1">
    <h3 class="text-xl font-serif font-semibold lg:group-hover:underline line-clamp-2">
      <a href={articleUrl}>
        <span class="absolute inset-0 z-10"></span>
        {article.data.title}
      </a>
    </h3>
    <p class="text-sm text-base-content/80 line-clamp-3 text-pretty lg:mb-auto">
      {article.data.description}
    </p>
    <div class="flex items-center text-xs text-base-content/80 mt-2">
      <span class="text-primary dark:text-secondary">{category.data.title}</span>
      <Divider />
      <span>{remarkPluginFrontmatter.minutesRead}</span>
    </div>
  </div>
</article>
