---
import Menu from "@/assets/svgs/menu.astro";
import { NAVIGATION_LINKS, OTHER_LINKS } from "@/lib/config";
---

<div class="dropdown">
  <button
    tabindex="0"
    role="button"
    class="btn btn-ghost btn-circle"
    aria-label="Menu"
  >
    <Menu />
  </button>

  <ul
    tabindex="0"
    class="menu dropdown-content z-50 bg-base-100 rounded-box w-56 shadow"
  >
    <li><a href="/" aria-label="ホームページ">ホーム</a></li>
    <li><a href="/articles" aria-label="記事一覧ページ">記事一覧</a></li>

    <li>
      <details>
        <summary>カテゴリ</summary>
        <ul>
          {
            NAVIGATION_LINKS.map(({ href, text, target }) => (
              <li>
                <a href={href} target={target ?? "_self"} aria-label={text}>
                  {text}
                </a>
              </li>
            ))
          }
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary>その他のページ</summary>
        <ul>
          {
            OTHER_LINKS.map(({ href, text, target }) => (
              <li>
                <a href={href} target={target ?? "_self"} aria-label={text}>
                  {text}
                </a>
              </li>
            ))
          }
        </ul>
      </details>
    </li>
  </ul>
</div>
